@import url("https://fonts.cdnfonts.com/css/circular-std");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::placeholder {
  color: #bfbfbf;
}

:root {
  --base-color: #261b38;
  --accent: #7826ff;
  --border: #e8e8e8;
  --links: #090070;
  --shadow: #ebebeb;
  --tableBG: white;
}

.dark-mode {
  --base-color: #f5f5f5;
  --accent: #7826ff;
  --border: #383838;
  --links: #f5f5f5;
  --shadow: black;
}

html {
  background-color: #fafafa;
  font-family: "Circular Std", sans-serif;
  scroll-behavior: smooth;
}

button {
  font-family: "Circular Std", sans-serif;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 9rem;
}

.nav-bar .logo {
  display: flex;
  align-items: center;
}

.logo {
  cursor: pointer;
}

.logo img,
h3 {
  pointer-events: none;
}

.nav-bar h3 {
  font-size: 1.2rem;
  font-weight: 700;
  padding-left: 1rem;
}

.call-to-action a {
  font-weight: 500;
  color: var(--base-color);
  padding-right: 3rem;
}

.call-to-action button {
  outline: none;
  border: 2px solid var(--base-color);
  background-color: #fafafa;
  padding: 0.7rem 1.5rem;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 0.3rem;
  cursor: pointer;
}

.home {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 2rem 9rem;
}

.lines h1 {
  font-size: 3.3rem;
  font-weight: 900;
  padding-bottom: 1rem;
}

.lines h3 {
  font-weight: 400;
  font-weight: normal;
  font-size: 1.3rem;
}

.lines span {
  font-weight: bold;
}

.link-form {
  padding: 1rem 9rem;
}

.form-bg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tableBG);
  padding: 0.8rem;
  box-shadow: 0rem 1rem 1.5rem var(--shadow);
  border-radius: 0.3rem;
  border: 1px solid var(--border);
}

.form-bg input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.9rem;
  /* font-family: "Circular Std Book", "Font Awesome 5 Free", sans-serif; */
  font-family: "Circular Std", "Font Awesome 5 Free", sans-serif;
  font-weight: 400;
  font-size: 1.1rem;
}

.form-bg button {
  outline: none;
  border: none;
  background-color: var(--accent);
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
}

.table-div {
  margin-top: 5rem;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

table {
  border-collapse: collapse;
  background-color: white;
  text-align: center;
  overflow: hidden;
  box-shadow: 0rem 1rem 1.5rem var(--shadow);
  border-radius: 0.4rem;
}

thead {
  background-color: #f8f7ff;
}

th,
td {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: 1px solid #eeeeee;
  word-break: break-all;
}

td a {
  color: var(--links);
  text-decoration: none;
  font-weight: 500;
}

td button {
  border: none;
  outline: none;
  padding: 0.8rem 1.5rem;
  background-color: var(--accent);
  color: white;
  margin-left: 2rem;
  border-radius: 0.2rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .nav-bar {
    padding: 1.5rem;
  }
  .logo img {
    width: 1.5rem;
  }
  .logo h3 {
    display: none;
  }
  .call-to-action a {
    padding: 0;
  }
  .call-to-action button {
    display: none;
  }

  .home {
    flex-direction: column;
    padding: 1.5rem;
  }

  .home img {
    width: 100%;
  }

  .lines h1 {
    font-size: 2rem;
  }

  .lines h3 {
    font-size: 1rem;
  }

  .link-form {
    padding: 1rem 1.5rem;
  }
  .form-bg {
    flex-direction: column;
    padding: 0;
    box-shadow: none;
    border: none;
    background-color: #fafafa;
  }

  .form-bg input {
    margin: 0 0 1rem 0;
    border: 1px solid var(--border);
    border-radius: 0.3rem;
    font-size: 1.1rem;
    padding: 1.5rem;
    box-shadow: 0rem 1rem 1.5rem var(--shadow);
  }

  .form-bg button {
    width: 100%;
  }

  .table-div {
    border-radius: 0.6rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
    margin-right: 0rem;
  }

  table {
    display: block;
    margin: 2rem 1.5rem;
  }

  thead {
    display: none;
  }

  tbody,
  tr,
  td {
    display: block;
    width: 100%;
  }

  tr,
  td {
    padding: 1rem;
    word-break: break-all;
    font-size: 1.1rem;
  }

  tr {
    border: 1px solid var(--border);
  }

  td:first-child {
    padding: 0rem 0rem 0.6rem 0rem;
  }

  td {
    padding: 0.6rem 0rem;
    border: none;
    border-bottom: 1px solid var(--border);
  }

  td a {
    display: block;
    font-weight: 400;
  }

  td button {
    margin-top: 0.6rem;
    margin-left: 0rem;
    font-size: 1rem;
    padding: 0.6rem 1rem;
  }

  a {
    padding: 0;
  }

  td {
    text-align: left;
  }

  td:last-child::after {
    content: " Clicks";
    font-size: 1.1rem;
  }
}
